.sidebar-container {
    width: 22vw;
    height: 100vh;
    color: white;
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.3);
    border-radius: 3rem;
}


.username-container {
    position: absolute;
    top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 22vw;
    height: 10vh;
    padding-bottom: 3vh;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.avatar {
    width: 6vw;
    height: 10vh;
    background-image: url("../Images/man.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 1vw;
}

.username-text{
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
}

.rank-text {
    margin-top: 1vh;
    font-size: .75rem;
    color: rgb(212, 212, 212);
    font-weight: 300;
    text-align: center;
}

.user-info-container {
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    flex-direction: center;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    position: absolute;
    top: 20vh;
    width: 22vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.section-button {
    color: white;
    width: 15vw;
    height: 10vh;
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 1.2rem;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3),
    inset 0px 10px 10px #222c3f8c;
    transition: all .5s ease-in-out;
}

.section-button:hover {
    cursor: pointer;
    font-weight: 700;
    transform: scale(1.02);
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(144, 223, 170);
    color: white;
}

.chosen {
    font-weight: 700;
    color: rgb(144, 223, 170);
    border: 3px solid rgb(144, 223, 170);
}