.trade-container {
    position: absolute;
    right: 20vw;
    top: 20vh;
    height: 70vh;
    width: 40vw;
    border-radius: 1.5rem;
    color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3),
    inset 0px 0px 15px #3340558c;
    padding: 1rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.loading-container{
    position: absolute;
    right: 30vw;
    top: 35vh;
    height: 20vh;
    width: 15vw;
    border-radius: 1.5rem;
    color: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3),
    inset 0px 0px 15px #3340558c;
    padding: 1rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: 1s ease-in-out 0s infinite load;
}


::-webkit-scrollbar {
    display: none;
}

.company-input {
    width: 23vw;
    color: white;
    border: 2px solid white;
}

.css-16awh2u-MuiAutocomplete-root .MuiOutlinedInput-root {
    border: 1px solid white !important;
}
.search-container {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 3vh;
    border-top: 1px solid white;
    margin-top: 5vh;
}

.search-section {
    display: flex;
    height: 30vh;
    flex-direction: column;
    padding: 2rem;
    justify-content: space-evenly;
    align-items: center;
}

.search-header{
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: .5rem;
    color: white;
}

.search-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    color: white;
    height: 3rem;
    margin-top: .5rem;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1rem;
    background-color: #1BEFAA;
    border: 2px solid white;
    width: 15vw;
    transition: .2s ease-in-out;
}

.search-button:hover {
    background-color:rgb(144, 223, 170);
    color: white;
    cursor: pointer;
}

.search-button:disabled {
    background-color: #D31027;
    color: white;
    opacity: .7;
}


input#company-name-search,
input#company-symbol-search, input#company-name-search::placeholder, input#company-symbol-search::placeholder {
    color: white;
    margin: 0;
}

#textfield-name {
    color: white;
}

.css-16awh2u-MuiAutocomplete-root .MuiOutlinedInput-root, .company-input{
    border-radius: 20px;
    border: none;
}

.chart {
    margin-top: 12vh;
    width: 100%;
}

.loading-container{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 8vh;
}

.loading-text {
    font-family: 'Roboto';
    font-weight: 200;
    margin-right: 1.5vw;
    animation: 1s ease-in-out 0s infinite twitch;
}

.twitch {
    animation: 1s ease-in-out 0s infinite twitch;
}
.css-15u8j6q-MuiCircularProgress-root {
    color:rgb(74, 233, 127) !important;
    animation: 1s ease-in-out 0s infinite twitch;
}

.stock-price-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stock-price{ 
    font-size: 1.75rem;
    font-family: 'Roboto';
    font-weight: 700;
    margin-left: 1vw;
}

.stock-price-text {
    font-size: 1.25rem;
    font-family: 'Roboto';
    font-weight: 300;
}

.purchase-info-container {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5vh;
}

.quantity-input {
    border-radius: 20px;
    font-size: 1rem;
    font-weight: 300;
    color:white;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    height: 6vh;
    width: 15vw;
    text-align: center;

}

.quantity-container,
.purchase-type-container {
    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items: center;
}

.quantity-container{
    margin-right: 5vw;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 0;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center ;
}

.option-text{
    font-weight: 300;
    font-size: 1rem;
}


.purchase-buttons-container {
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.purchase-button,
.new-search-button {
    border-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    height: 4rem;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1rem;
    background-color: rgb(74, 233, 127);
    border: 3px solid white;
    box-shadow: 0px 5px 0px rgb(204, 204, 204);
    margin: 1vw;
    width: 20%;

}

.new-search-button {
    background-color: rgb(96, 245, 227);
}

.purchase-button:hover, .new-search-button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(144, 223, 170);
}

.purchase-button:disabled,
.new-search-button:disabled,
.purchase-button:hover:disabled,
.new-search-button:hover:disabled {
    cursor: default;
    color: rgb(110, 107, 107);
    box-shadow: none;
    border: 1px solid grey;
    background-color: transparent;
}

.illustration-container {
    width: 30vw;
    height: 30vh;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4);
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes load {
    0% {
        border: 3px solid rgba(0, 0, 0, 0.4);
    }

    50% {
        border: 3px solid #1BEFAA;
    }

    100% {
        border: 3px solid rgba(0, 0, 0, 0.4);
    }
}


@keyframes twitch {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}